h3{
    color: rgb(189, 134, 13);
    background: rgba(202, 239, 193, 0.7);
    padding: 5pt 5pt 5pt 5pt;
}

h1{
    display: block;
    color: yellow;
    text-align: center;
    text-decoration: green wavy underline;
    margin: .1em 1ch 1vw 1vh;
}

body {
    background: rgba(208, 175, 234, 0.7);
    margin-top: 2cm;
    margin-bottom: 20mm;
    margin-right: 300px;
    margin-left: 300px;
}

h2{
    text-align: center;
    padding-top: 10mm;
    padding-right: 10mm;
    padding-bottom: 10mm;
    padding-left: 10mm;
    position: sticky;
}

h3{
    color: rgb(189, 134, 13);
    background: rgba(202, 239, 193, 0.7);
    padding: 5pt 5pt 5pt 5pt;
}

footer{
    text-align: center;
    margin: auto;
}